.shooting-photos-grid {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}

.dragger {
    width: 40rem !important;
    height: 20rem !important;
}

.dragger-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}